@{
    ViewData["Title"] = "Home Page";
}
    
<div class="container" id="vista_resto_bart">
    <div class="row tipos-menu">
        @*Ciclo las categorias*@
        @foreach (var categoria in (Array)ViewData["categorias"])
        {
            <div class="col-md-3 col-sm-6">
                <a href="#@categoria">
                    <h3 class="titulo-platos">@categoria</h3>
                    <img src="images/@(categoria).png" width="250" height="250" alt="@categoria">
                </a>
            </div>
        }
    </div>

    <div class="row">
        <div id="mensaje-especial">
            <p>
                Todos nuestros platos incluyen cubiertos y mucho amor
            </p>
        </div>
    </div>

    <form asp-action="Create">
        @foreach (var categoria in (Array)ViewData["categorias"])
        {
            <div class="row seccion" id="@categoria">
                <h3 class="titulo-seccion">@categoria</h3>
                <ul class="listado-precios">
                    @*Ciclo el array de string de platos para mostrar el nombre*@
                    @foreach (var platos in (Plato[])ViewData["categorias_" + categoria])
                     {
                    <li>
                        <input type="hidden" id="precio_@platos.IdPlato" value="@platos.Precio" />
                        <span class="float-left nombre-plato" id="nombre_@platos.IdPlato">@platos.Nombre</span>
                        <input type="button" class="btn-agregar-carrito btn btn-success" onclick="agregar_carrito(@platos.IdPlato)" value="Agregar al carrito" />
                        <input class="form-control cantidad-plato" name="cantidad" type="number" step="1" min="0" value="0" max="100" id="cantidad_@platos.IdPlato" />
                        <span class="precio-plato">$@platos.Precio</span>
                    </li>
                     }
                </ul>
            </div>
        }
    </form>

    <div id="carrito_desktop">
        <h4>Detalles del pedido:</h4>
        <div id="items_carrito">
            <ul>
            </ul>
        </div>
        <span><strong>Total del pedido:</strong></span><span id="total_pedido"></span>
        <br><br>
        <input id="btn-finalizar-pedido"type="button" class="btn btn-success" value="Finalizar Pedido" />
    </div>
</div>

<script>
    var carrito = new Array();
    var total_venta;

    function agregar_carrito(id_plato) {
        var nombre_plato = $('#nombre_' + id_plato).text();
        var precio_unidad = $('#precio_' + id_plato).val();
        var cantidad = $('#cantidad_' + id_plato).val();

        if (cantidad < 1 || cantidad > 100) {
            alert("Debe ingresar una cantidad válida");
            return false;
        }

        if (carrito[id_plato]) {
            //Agrego la cantidad del plato
            carrito[id_plato]['cantidad'] += parseInt(cantidad);
        } else {
            carrito[id_plato] = new Array();
            carrito[id_plato]['nombre_plato'] = nombre_plato;
            carrito[id_plato]['precio_unidad'] = parseFloat(precio_unidad);
            carrito[id_plato]['cantidad'] = parseInt(cantidad);
        }

        //Calculo el precio total del plato
        carrito[id_plato]['precio_total'] = carrito[id_plato]['cantidad'] * carrito[id_plato]['precio_unidad'];

        calcular_total_pedido();
        renderizar_carrito();
    }

    function calcular_total_pedido() {
        total_venta = 0;

        carrito.forEach(function (valores_plato, id_plato) {
            total_venta += parseFloat(valores_plato.precio_total);
        });

        console.log("El total de venta es:" + total_venta);
    }

    function renderizar_carrito() {
        //Pregunto si no esta vacío
        if (typeof carrito !== 'undefined' && carrito.length > 0) {
            var item;

            $('#items_carrito ul').html('');
            carrito.forEach(function (valores_plato, id_plato) {
                item = '<li><span class="float-left">' + valores_plato.cantidad + 'x ' + valores_plato.nombre_plato + ' </span><span class="float-right"> $' + valores_plato.precio_total + '</span></li>';
                $('#items_carrito ul').append(item);
            });
            
            $('#carrito_desktop').show();
            $('#total_pedido').html('$' + total_venta);
        } else {
            $('#carrito_desktop').hide();
        }
    }
</script>
    
